<div class="container">
  <body class="add-page">
    <div class="sidenav">
        <h2>Finesse Your Life</h2>

        <div class="sidenav-btn">
            <div class="icon">
                <h6>"Carpe Diem" - Horace</h6>
            </div>
        </div>
            <div class="icon">
                <h6>"Our Greatest Glory Is Not In Never Falling, But In Rising Every Time We Fall" - Confucius</h6>
            </div>
            <div class="icon">
                <h6>"Don't wish it were easier. Wish you were better" - Jim Rohn</h6>
            </div>
        </div>
    </div>     

        <h5>Welcome to Finesse Your Life. Where you can create and track your goals.</h5>

    <div class="centralized">
        <div class="container-dashboard">
            <!-- goals accomplished -->
            <div class="goals-accomplished">
                <h3>Goals Accomplished</h3>
                    <img src="/assets/img/accgoals.png" alt="bar chart img" id="chartOne">
                        <div class="goal-body">
                            {{#each goals}}
                                {{#if removed}}
                                    {{> goals/goals-removed remove=true}}
                                {{/if}}
                            {{/each}}
                        </div>
            </div>
            <!-- current goals -->
            <div class="current-goals">
                <h3>Current Goals</h3>
                    <img src="/assets/img/cgoals.png" alt="bar chart Img" id="chartTwo">
                    <div class="goal-body">
                        {{#each goals}}
                            {{#unless removed}}
                                {{> goals/goals-block remove=false}}
                            {{/unless}}
                        {{/each}}
                    </div>  
            </div>
        </div>
    </div>

    <div class="add-form centralized">
        <div class="new-goal">
            <h2>Add a new goal</h2>
            <form class="goal-form">

                <input type="text" class="form-control" id="goalName" placeholder="Title">
                <label class="input-label" for="input1">
                    Name of Goal.
                </label>
                {{!-- <input type="text" class="form-control" id="todaysDate" placeholder="MM/DD/YYYY">
                <label class="input-label" for="input2">
                    Today's Date.
                </label> --}}
                <button class="save-btn" type="submit">Add</button>
            </form>
        </div>
    </div>
</div>
</div>