<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- firebase auth-->
    <script src="https://www.gstatic.com/firebasejs/5.8.0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.css">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
</head>

<body>
    <style>
        h1 {
            text-align: center;
            font-family: 'Bree Serif', serif;
            font-size: 70pt;
            color: black;
        }

        body {
            background-color: lightsalmon;
        }
    </style>
    <h1>Get Ready to Finesse Your Life</h1>
    <div id="firebaseui-auth-container" style="padding-top: 6em;"></div>
    <div id="loader">Loading...</div>
    <script src="fireBase.js"></script>
    <script src="login.js"></script>
</body>

</html>