<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Finesse Your Life</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/styles/style.css">

    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">


</head>

<body class="main-page">
    <div class="sidenav">
        <h2>Finesse Your Life</h2>
        <div class="sidenav-btn">
            <div class="icon">
                <img src="../public/img/dashboard.png" alt="dashboard icon">
                <a href="main.html">Dashboard</a>
            </div>
            <div class="icon">
                <img src="../public/img/goal.png" alt="add goal icon">
                <a href="add.html">Add New Goal</a>
            </div>
            <div class="icon">
                <img src="../public/img/search.png" alt="search icon">
                <a href="search.html">Search Goals</a>
            </div>
            <div class="icon">
                <img src="../public/img/calendar.png" alt="calendar icon">
                <a href="#">Calendar</a>
            </div>
        </div>
    </div>
    <div class="centralized">
        <!-- dropdown -->
        <div class="dropdown dropdown-search">
            <select name="position" id="position-dropdown">
                <option value="" disabled selected>Select a goal type</option>
                <option value="Career">Career</option>
                <option value="Financial">Financial</option>
                <option value="Personal Development">Personal Development</option>
                <option value="Spiritual">Spiritual</option>
                <option value="Educational">Educational</option>
                <option value="Relationship">Relationship</option>
                <option value="Physical and Health">Physical & Health</option>
            </select>
        </div>
        <div class="table-results">
            <!-- table of search results -->
            <table class="search-results">
                <h2 class="choose">Choose a new goal</h2>
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Add goal</th>
                    </tr>
                </thead>
                <tbody class="tbody search-results">
                    <!-- results populate here -->
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript" src="index.js"></script>

</body>
</html>