body {
  font-family: 'Bree Serif', serif;
  background: #a8a5a5;
}

.container {
  background-color: #4a3172 !important;
}

/* Main-page */

h2 {
  text-align: center;
  padding-bottom: 50px;
}
#dashboard-title {
  font-size: 10px;
}
.main-page {
  background: #d3d3d3;
}

h3 {
  text-align: center;
  padding-left: 11em;
  padding-top: 30px
}

h5 {
  text-align: center;
  color: black;
  padding-left: 16.5em;
  padding-bottom: 2px;
  padding-top: 35px
}

.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #4a3172;
  overflow-x: hidden;
  padding-top: 30px;
}

.sidenav h2 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-right: 12px;
  margin-bottom: 30px;
  font-family: 'Bree Serif', serif;
}

.sidenav h6 {
  color: rgb(32, 189, 18);
  text-transform: uppercase;
  text-align: center;
  margin-right: 2px;
  padding-top: 9em;
  margin-bottom: 30px;
  font-family: 'Bree Serif', serif;
}

.sidenav a {
  background: #646464;
  width: 100%;
  color: white;
  display: flex;
  padding: 20px 0 20px 60px;
  text-decoration: none;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
  font-family: 'Bree Serif', serif;
  font-size: 15pt;
}

.icon img {
  position: absolute;
  width: 25px;
  margin: 18px;
}

.mt-4 {
  padding-left: 5px;
}
.centralized {
  width: 80%;
  float: right;
}

.add-form.centralized {
  padding-left: 2em;
  
}

.container-dashboard {
  display: flex;
  justify-content: center;
}

.goals-accomplished {
  margin-right: 40px;
}

.current-goals {
  margin-left: 20px;
}

.goals-accomplished,
.current-goals {
  width: 35em;
  height: 25em;
  background: white;
  margin-top: 2em;
}

.goals-accomplished h3,
.current-goals h3 {
  font-size: 18px;
  color: rgb(0, 0, 0);
  padding: 20px 0 0 20px;
  font-family: 'Bree Serif', serif;
  text-align: left;
}

#chartOne,
#chartTwo {
  width: 130px;
  padding-right: 20px;
  margin-left: 15em;
}

  @media only screen and (min-width: 1021px) {
  .goals-accomplished {
    margin-right: 20px;
    width: 38em;
  }
  .goals-accomplished img,
  .current-goals img {
    float: right;
    margin-top: 15px;
  }
  }

/* Add new goal */

.new-goal {
  background: white;
  max-width: 600px;
  margin: 76px auto;
  padding: 30px;
  overflow: auto;
}

form input {
  border: none;
  padding: 5px 0;
  display: flex;
  font-size: 18px;
  width: 535px;
  border-bottom: 1px solid #ddd;
  line-height: 30px;
  margin-top: 10px;
}

.input-label {
  font-size: 14px;
  line-height: 30px;
}

.save-btn,
.delete-btn,
.edit-btn {
  background: #242323;
  color: white !important;
  width: 200px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  float: right;
  margin-top: 30px;
  display: inherit;
  cursor: pointer;
}

.delete-btn,
.edit-btn {
  padding: 10px 0;
}


