* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Bree Serif', serif;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background: #d3d3d3;
  }
  
 /* Main-page */
  
  .main-page {
    background: #d3d3d3;
  }

  h3 {
    text-align: center;
    padding-left: 11em;
    padding-top: 30px
  }

  h5 {
    text-align: center;
    padding-left: 15em;
    padding-top: 30px
  }
  
  .sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4a3172;
    overflow-x: hidden;
    padding-top: 30px;
  }
  
  .sidenav h2 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-right: 12px;
    margin-bottom: 30px;
    font-family: 'Bree Serif', serif;
  }
  
  .sidenav a {
    background: #646464;
    width: 100%;
    color: white;
    display: flex;
    padding: 20px 0 20px 60px;
    text-decoration: none;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 5px;
    font-family: 'Bree Serif', serif;
    font-size: 15pt;
  }

  .icon img {
    position: absolute;
    width: 25px;
    margin: 18px;
  }

  .star {
    padding-left: 9em;
    padding-top: 30em;
  }
  
  .centralized {
    width: 80%;
    float: right;
  }
  
  .container-dashboard {
    display: flex;
    justify-content: center;
  }
  
  .goals-accomplished {
    margin-right: 40px;
  }
  
  .current-goals {
    margin-left: 20px;
  }
  
  .goals-accomplished,
  .current-goals {
    width: 32em;
    height: 14em;
    background: white;
    margin-top: 5em;
  }
  
  .goals-accomplished h3,
  .current-goals h3 {
    font-size: 18px;
    color: rgb(0, 0, 0);
    padding: 20px 0 0 20px;
    font-family: 'Bree Serif', serif;
    text-align: left;
  }
  
  /* .goals-accomplished p,
  .current-goals p {
    margin-top: 36px;
    width: 130px;
    float: left;
    font-weight: 400;
    font-size: 20px;
    padding-left: 20px;
  } */
  
  #chartOne,
  #chartTwo {
    width: 130px;
    padding-right: 20px;
    margin-left: 15em;
  }

    @media only screen and (min-width: 1021px) {
    .goals-accomplished {
      margin-right: 20px;
    }
    .goals-accomplished img,
    .current-goals img {
      float: right;
      margin-top: 15px;
    }
    }

/* Add new goal */

.new-job {
    background: white;
    max-width: 600px;
    margin: 76px auto;
    padding: 30px;
    overflow: auto;
  }
  
  form input {
    border: none;
    padding: 5px 0;
    display: flex;
    font-size: 18px;
    width: 535px;
    border-bottom: 1px solid #ddd;
    line-height: 30px;
    margin-top: 10px;
  }
  
  .input-label {
    font-size: 14px;
    line-height: 30px;
  }
  
  .save-btn,
  .delete-btn,
  .edit-btn {
    background: #242323;
    color: white !important;
    width: 200px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    float: right;
    margin-top: 30px;
    display: inherit;
    cursor: pointer;
  }
  
  .delete-btn,
  .edit-btn {
    padding: 10px 0;
  }
  
  .dropdown {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .dropdown select {
    border: none;
    padding: 10px;
    font-size: 18px;
    color: gray;
    height: 40px;
  }

  /* Goal search */
  
  .dropdown-search {
    text-align: center;
  }
  
  .add-btn {
    background: #242323;
    color: white !important;
    width: 100px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
  }
  
  .dropdown-search select {
    margin-top: 56px;
  }
  
  .table-search {
    margin-top: 77px;
  }
  
  .dropdown {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .dropdown select {
    border: none;
    padding: 10px;
    font-size: 18px;
    color: black;
    height: 47px;
    font-family: 'Bree Serif', serif;

  }
 
  .table-results {
    width: 780px;
    margin: 0 auto;
    background: white;
    margin-top: 60px;
    padding: 20px;
  }
 
  .choose {
      font-size: 12pt;
  }

  .table-results thead {
    text-align: left;
    background: #f5f5f5;
    color: black;
    line-height: 45px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}
thead th {
    margin-right: 7em;
    float: left;
    margin-left: 5em;
}