<div class="mt-4">
	<h3>{{goal_name}}</h3>
	<p>{{createDate}}</p>

	<!--Remove me button-->
	<button class="change-remove btn" data-id="{{id}}" data-newremove="{{remove}}">
		Remove me
	</button>
</div>