<div class="mt-4">
	<h4 class="removed-goals-name">{{goal_name}}</h4>
	<p class="removed-goals-date">{{createDate}}</p>
	

	<!--remove goal button-->
	<button class="delete-goal btn" data-id="{{this.id}}"><i class="far fa-trash-alt"></i>Remove</button>
</div>