<div class="mt-4">
	<h3 class="currentGoal" style="color: rgb(255, 94, 0); padding-left: 15px;">{{goal_name}}</h3>
	<p class="createDate" style="color: rgb(255, 94, 0); font-size: 9pt; padding-left: 15px;">{{createDate}}</p>

	<!--Remove me button-->
	<button class="change-remove btn" style="margin-left: 2em;" data-id="{{id}}" data-newremove="{{remove}}">
		Remove me
	</button>
</div>