<div class="mt-4">
	<h4 class="removed-goals-name" style="color: rgb(255, 94, 0); font-size: 13pt; padding-left: 15px;">{{goal_name}}</h4>
	<p class="removed-goals-date" style="color: rgb(255, 94, 0); font-size: 10pt; padding-left: 15px;">{{createDate}}</p>
	

	<!--remove goal button-->
	<button class="delete-goal btn" style="margin-left: 2em;" data-id="{{this.id}}"><i class="far fa-trash-alt"></i>Remove</button>
</div>